.app-footer {
  background-color: #222;
  color: #888;
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  }
    .copyright {
        margin-right: 10px;
    }

 
    .author-link {
      color: #f5f5f5;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s ease;
      margin-left: 5px;

      &:hover {
        color: #009879;
      }
    }
  